* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NAVIGATION */
.navigation {
  background-color: rgb(240, 114, 114);
}

.navigation-list {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation-item {
  padding: 24px 0;
}

@media (min-width: 768px) {
  .navigation-list {
    width: 70%;
  }
}

/* HERO */
.hero {
  background-color: rgb(240, 243, 119);

  background-image: url("./images/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
  padding: 48px 0;
  position: relative;
  height: 500px;
}

.hero-text {
  position: absolute;
  right: 0;
  bottom: 40px;
  color: white;
  font-size: 48px;
}

@media (min-width: 768px) {
  .hero-wrapper {
    width: 70%;
  }
}

/* INFO */
.info {
}

.info-wrapper {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
  padding: 48px 0;
  display: flex;
}

.info-text {
  width: 50%;
}

.info-text h2 {
  margin-bottom: 32px;
}

.info-image {
  width: 50%;
  /* height: 300px; */
  background-image: url("https://images.fineartamerica.com/images/artworkimages/medium/3/kawaii-cat-bubble-tea-me-transparent.png");
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .info-wrapper {
    width: 70%;
  }
}

/* CONTACT */
.contact {
  background-color: rgb(76, 181, 251);
}

.contact-wrapper {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
  padding: 48px 0;
  display: flex;
}

.contact-left-block {
  background-color: aquamarine;
  width: 30%;
}

.contact-right-block {
  background-color: rgb(221, 118, 118);
  width: 70%;
}

.contact-right-block p {
  margin-bottom: 32px;
}

.contact-btn {
  border: 1px solid black;
  display: inline-block;
  padding: 1rem;
  color: white;
  background-color: blue;
}

@media (min-width: 768px) {
  .contact-wrapper {
    width: 70%;
  }
}

/* ABOUT */
.about {
  background-color: rgb(240, 243, 119);
}

.about-wrapper {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
  padding: 48px 0;
}

.about-text {
  border: 2px solid red;
  margin-bottom: 32px;
  text-align: center;
}

.about-text h2 {
  margin-bottom: 32px;
}

.about-icons {
  display: flex;
  justify-content: space-between;
}

.about-icon {
  background-color: aquamarine;
  border: 2px solid red;
  width: 150px;
  height: 150px;
}

@media (min-width: 768px) {
  .about-wrapper {
    width: 70%;
  }
}

/* USERS */
.users {
}

.users-wrapper {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
  padding: 48px 0;
}

.users-text {
  border: 2px solid red;
  margin-bottom: 32px;
  text-align: center;
}

.users-text h2 {
  margin-bottom: 32px;
}

.users-carts {
  display: flex;
  gap: 50px;
}

.user-cart {
  background-color: aquamarine;
  border: 2px solid red;
  height: 400px;
  width: 50%;
}

@media (min-width: 768px) {
  .users-wrapper {
    width: 70%;
  }
}
